# This config file will override default

[mysql]

user = mysql
port = 3306

# Bind to all interfaces to allow connect from other containers

bind-address = 0.0.0.0

# Set the data directory

datadir = /var/lib/mysql

# This logging for debugging

log_error = /var/log/mysql/error.log
